/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

/*Experiencia textos*/
.experiencias .experiencia1 .textos1, .experiencias .experiencia2 .textos2, .experiencias .experiencia3 .textos3 {
  display: flex;
  flex-direction: column;
  justify-content: center; }

body {
  background-color: #f4f4f4; }

/* Navbar */
.header {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
  display: flex;
  justify-content: center; }
  .header .navbar {
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid transparent;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.32);
    position: fixed;
    z-index: 1000; }
    .header .navbar img {
      margin-right: 250px; }
    .header .navbar .nav-link {
      transition: 0.3s; }
      .header .navbar .nav-link:hover {
        color: #1279ef;
        text-decoration: underline; }

/* Lista de Iconos */
.listaIconos {
  position: absolute;
  top: 45%;
  left: -3%;
  display: block; }
  .listaIconos ul li {
    list-style: none;
    margin-bottom: 15px;
    transition: 0.3s; }
    .listaIconos ul li:hover {
      transform: scale(1.5, 1.5);
      cursor: pointer; }
    .listaIconos ul li img {
      width: 20%;
      filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5)); }

/*---------------*/
/*---- INDEX ----*/
/*---------------*/
/* Primera Seccion */
.intro {
  height: 130vh;
  background-image: url("../images/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -10px; }
  .intro img {
    margin-top: 15%; }
  .intro h2 {
    margin-top: 3%;
    font-size: 3rem;
    line-height: 3.2rem;
    font-family: "Rakkas", cursive;
    color: #ffffff; }
  .intro button {
    color: #ffffff;
    background-color: #33a79d;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid transparent;
    margin: 30px 0px;
    animation-name: mover;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transition: 0.3s;
    box-shadow: 0px 2px 5px rgba(119, 119, 119, 0.5); }
    .intro button:hover {
      color: #33a79d;
      background-color: #ffffff;
      border: 1px solid #33a79d; }

@keyframes mover {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(10px); }
  100% {
    transform: translateY(0); } }
  .intro .hastag {
    color: #444444;
    font-size: 3rem;
    font-family: "Rakkas", cursive;
    margin-top: 12%; }

/* Segunda Seccion */
.lineup {
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative; }
  .lineup h1 {
    margin: 30px 20px;
    color: #1b1b5c;
    font-size: 3.5rem;
    font-family: "Rakkas", cursive; }
  .lineup .carrusel {
    margin: 30px 0px; }
    .lineup .carrusel .carousel-inner .carousel-item {
      background-image: url("../images/background.svg");
      background-repeat: no-repeat;
      background-size: cover;
      height: 550px;
      padding: 10px 50px;
      border-radius: 30px; }
      .lineup .carrusel .carousel-inner .carousel-item h3 {
        font-size: 2.5rem;
        font-family: "Rakkas", cursive;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 50px; }
      .lineup .carrusel .carousel-inner .carousel-item .textos img {
        margin-top: 30px;
        margin-bottom: 10px; }

/* ----------------- */
/* ----END INDEX---- */
/* ----------------- */
/* ---------------- */
/* ----ARTISTAS---- */
/* ---------------- */
.bannerArtistas {
  height: 40vh;
  background-image: url("../images/background.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -10px;
  position: relative; }
  .bannerArtistas .titularArtistas {
    position: absolute;
    bottom: 20px;
    left: 50px; }

.selector {
  background-color: #1b1b5c;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center; }

.artistas {
  display: grid;
  grid-template-columns: repeat(4, 25%); }

.cadaArtista {
  width: 100%;
  height: 342px;
  position: relative; }
  .cadaArtista div {
    background-color: #000000ca;
    position: absolute;
    bottom: 0;
    width: 80%;
    border-radius: 0px 30px 0px 0px; }
    .cadaArtista div:hover {
      height: 100px;
      cursor: pointer; }
    .cadaArtista div h3 {
      color: #ffffff;
      margin: 0px 20px;
      margin-top: 20px;
      font-size: 1.3rem;
      font-weight: bold; }
    .cadaArtista div p {
      color: #ffffff;
      margin: 0px 20px;
      margin-bottom: 20px;
      font-size: 0.8rem; }

/* Artistas */
.slipknot {
  background-image: url("../images/Slipknot.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.royalBlood {
  background-image: url("../images/Royal-blood.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.theWeeknd {
  background-image: url("../images/The-weeknd.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.daftPunk {
  background-image: url("../images/Daft-punk.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.mileyCirus {
  background-image: url("../images/Miley-cirus.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.cuartetoNos {
  background-image: url("../images/El-cuarteto-de-nos.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.joji {
  background-image: url("../images/Joji.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.twentyOnePilots {
  background-image: url("../images/Twenty-one-pilots.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.tini {
  background-image: url("../images/Tini.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.turnstile {
  background-image: url("../images/Turnstile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.ninaKravitz {
  background-image: url("../images/Nina-kravitz.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.ohLaville {
  background-image: url("../images/Oh-laville.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.kendrickLamar {
  background-image: url("../images/Kendrick-lammar.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.molotov {
  background-image: url("../images/Molotov.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.metronomy {
  background-image: url("../images/Metronomy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.nickiNicole {
  background-image: url("../images/Nicki-nicole.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.tameImpala {
  background-image: url("../images/Tame-impala.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.meduza {
  background-image: url("../images/Meduza.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.grupoNiche {
  background-image: url("../images/Grupo-niche.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.roleModel {
  background-image: url("../images/Role-model.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.rammstein {
  background-image: url("../images/Rammstein.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.feid {
  background-image: url("../images/Feid.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.megadeth {
  background-image: url("../images/Megadeth.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.maneskin {
  background-image: url("../images/Maneskin.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

/* End Artistas */
/* ----------------- */
/*    END ARTISTAS   */
/* ----------------- */
/* ------------------ */
/* -----ENTRADAS----- */
/* ------------------ */
.introEntradas img {
  margin-top: 35%;
  margin-bottom: 50px; }

.entradas {
  position: relative; }
  .entradas .nube {
    position: absolute;
    width: 15%;
    z-index: 3;
    bottom: 100px;
    right: -40px;
    transform: rotate(10deg);
    filter: drop-shadow(3px 2px 2px rgba(0, 0, 0, 0.4)); }
  .entradas hr {
    margin-top: 0px;
    margin-bottom: 50px; }
  .entradas h1 {
    font-family: "Rakkas", cursive;
    color: #1279ef;
    font-size: 2rem;
    text-align: center; }
  .entradas p {
    color: #444444;
    font-size: 1.2rem;
    text-align: center; }
  .entradas .entradasPrecios {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row; }
    .entradas .entradasPrecios .entradasTicket {
      width: 90%;
      max-width: 470px;
      background-color: #ffffff;
      padding: 0px 20px;
      border-radius: 20px 20px 0px 0px;
      margin-top: 50px;
      margin-bottom: 0px;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2); }
      .entradas .entradasPrecios .entradasTicket h2 {
        text-align: center;
        margin-top: 30px;
        font-size: 2.5rem;
        font-family: "Rakkas", cursive; }
      .entradas .entradasPrecios .entradasTicket p {
        border-bottom: 2px solid;
        font-size: 2rem;
        padding: 15px 0; }
      .entradas .entradasPrecios .entradasTicket .boleta {
        display: flex;
        align-items: center;
        color: #1b1b5c;
        /* Usar Class="agotado" para aplicar este estilo  */ }
        .entradas .entradasPrecios .entradasTicket .boleta .etapa {
          width: 25%;
          text-align: center;
          padding: 0px, 10px;
          font-size: 1.3rem; }
        .entradas .entradasPrecios .entradasTicket .boleta .precio {
          width: 75%;
          font-size: 1.5rem;
          text-align: center;
          color: #1279ef; }
        .entradas .entradasPrecios .entradasTicket .boleta .agotado {
          width: 75%;
          font-size: 1.5rem;
          text-align: center;
          font-style: italic;
          background-color: #1279ef;
          color: #ffffff; }
      .entradas .entradasPrecios .entradasTicket .contenedorCodigo {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 50px; }
  .entradas .corteBoletas {
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row; }
    .entradas .corteBoletas .imgBoleta {
      width: 90%;
      max-width: 470px;
      margin-top: 0px;
      margin-bottom: 50px; }
      .entradas .corteBoletas .imgBoleta .contenedorBoleta {
        display: flex;
        justify-content: center;
        filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.2)); }
  .entradas .legales {
    text-align: center; }
  .entradas a {
    text-decoration: none; }
    .entradas a .comprar {
      background: #33a79d;
      color: #ffffff;
      padding: 5px 30px;
      border: 2px solid transparent;
      border-radius: 13px;
      font-size: 1.5rem;
      cursor: pointer;
      text-align: center;
      margin: 0 auto;
      display: block;
      margin-bottom: 50px;
      transition: 0.3s; }
      .entradas a .comprar:hover {
        transform: scale(1.1, 1.1);
        background: #ffffff;
        color: #33a79d;
        padding: 5px 30px;
        border: 2px solid #33a79d;
        cursor: pointer; }

/* ------------------ */
/* ---END ENTRADAS--- */
/* ------------------ */
/* ----------------- */
/*    EXPERIENCIA    */
/* ----------------- */
.bannerExperencia {
  height: 40vh;
  background-image: url("../images/background.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -10px;
  position: relative; }
  .bannerExperencia .titularExperencia {
    position: absolute;
    bottom: 20px;
    left: 50px; }

.experiencias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .experiencias .experiencia1 {
    height: auto;
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-areas: "imagen1 texto1";
    min-height: 550px;
    margin-top: 0px;
    margin-bottom: 60px;
    padding: 70px 0px;
    position: relative; }
    .experiencias .experiencia1 .imagen1 {
      grid-area: imagen1;
      background-image: url("../images/experiencia-gastronomia.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      width: 100%;
      height: 90%;
      margin-left: 60px; }
    .experiencias .experiencia1 .textos1 {
      grid-area: texto1;
      background: #ffffff;
      padding: 48px 35px;
      z-index: 1;
      width: 100%;
      margin-left: -60px;
      margin-top: 80px;
      margin-bottom: 0px; }
      .experiencias .experiencia1 .textos1 h1 {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 2.5rem;
        font-weight: bold;
        color: #1279ef;
        padding: 0 30px; }
      .experiencias .experiencia1 .textos1 p {
        margin-left: 10px;
        margin-bottom: 30px;
        font-size: 1.3rem;
        line-height: 1.6rem;
        color: #444444;
        padding: 0 30px; }
      .experiencias .experiencia1 .textos1 a {
        margin-left: 10px;
        margin-bottom: 30px;
        padding: 0 30px; }
        .experiencias .experiencia1 .textos1 a button {
          padding: 5px 20px;
          border: 1px solid transparent;
          background-color: #33a79d;
          color: #ffffff;
          border-radius: 5px; }
  .experiencias .experiencia2 {
    height: auto;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-areas: "texto2 imagen2";
    min-height: 550px;
    margin-top: 0px;
    margin-bottom: 60px;
    padding: 70px 0px;
    position: relative; }
    .experiencias .experiencia2 .imagen2 {
      grid-area: imagen2;
      background-image: url("../images/experiencia-actividades.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      width: 100%;
      height: 90%;
      margin-right: 60px;
      right: 0px; }
    .experiencias .experiencia2 .textos2 {
      grid-area: texto2;
      background: #ffffff;
      padding: 48px 35px;
      z-index: 1;
      width: 100%;
      margin-left: 60px;
      margin-top: 80px;
      margin-bottom: 0px; }
      .experiencias .experiencia2 .textos2 h1 {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 2.5rem;
        font-weight: bold;
        color: #1279ef;
        padding: 0 30px; }
      .experiencias .experiencia2 .textos2 p {
        margin-left: 10px;
        margin-bottom: 30px;
        font-size: 1.3rem;
        line-height: 1.6rem;
        color: #444444;
        padding: 0 30px; }
      .experiencias .experiencia2 .textos2 a {
        margin-left: 10px;
        margin-bottom: 30px;
        padding: 0 30px; }
        .experiencias .experiencia2 .textos2 a button {
          padding: 5px 20px;
          border: 1px solid transparent;
          background-color: #33a79d;
          color: #ffffff;
          border-radius: 5px; }
  .experiencias .experiencia3 {
    height: auto;
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-areas: "imagen3 texto3";
    min-height: 550px;
    margin-top: 0px;
    margin-bottom: 60px;
    padding: 70px 0px;
    position: relative; }
    .experiencias .experiencia3 .imagen3 {
      grid-area: imagen3;
      background-image: url("../images/experiencia-vassar.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      width: 100%;
      height: 90%;
      margin-left: 60px; }
    .experiencias .experiencia3 .textos3 {
      grid-area: texto3;
      background: #ffffff;
      padding: 48px 35px;
      z-index: 1;
      width: 100%;
      margin-left: -60px;
      margin-top: 80px;
      margin-bottom: 0px; }
      .experiencias .experiencia3 .textos3 h1 {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 2.5rem;
        font-weight: bold;
        color: #1279ef;
        padding: 0 30px; }
      .experiencias .experiencia3 .textos3 p {
        margin-left: 10px;
        margin-bottom: 30px;
        font-size: 1.3rem;
        line-height: 1.6rem;
        color: #444444;
        padding: 0 30px; }
      .experiencias .experiencia3 .textos3 a {
        margin-left: 10px;
        margin-bottom: 30px;
        padding: 0 30px; }
        .experiencias .experiencia3 .textos3 a button {
          padding: 5px 20px;
          border: 1px solid transparent;
          background-color: #33a79d;
          color: #ffffff;
          border-radius: 5px; }

/* ----------------- */
/*  END EXPERIENCIA  */
/* ----------------- */
/* ---------------- */
/* ------FAQS------ */
/* ---------------- */
.introFaqs img {
  margin-top: 15%;
  margin-bottom: 30px; }

.seccionPreguntas {
  background-color: #ffffff;
  margin-top: 50px;
  margin-bottom: 50px; }
  .seccionPreguntas .preguntas {
    margin: 30px 0px; }
  .seccionPreguntas .accordion-item {
    margin: 30px 0px; }
    .seccionPreguntas .accordion-item h2 button {
      font-size: 1.8rem;
      font-weight: bold; }

.seccionContacto {
  background-image: url("../images/background-contacto.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 445px;
  padding-top: 55px;
  width: 100%;
  margin-bottom: 100px; }
  .seccionContacto .contacto {
    padding-top: 0px;
    padding-left: 68px;
    padding-right: 50px; }
    .seccionContacto .contacto h1 {
      font-family: "Rakkas", cursive;
      font-size: 3rem;
      color: #1b1b5c; }
    .seccionContacto .contacto p {
      font-size: 1rem;
      color: #1b1b5c; }
    .seccionContacto .contacto form label {
      margin-bottom: 2px;
      font-size: 0.8rem;
      color: #1b1b5c; }
    .seccionContacto .contacto form button {
      background: #33a79d;
      border: 1px solid transparent;
      float: right;
      color: #ffffff;
      border-radius: 0;
      font-size: 1.3rem;
      padding: 5px 30px;
      border-radius: 5px;
      transition: 0.3s; }
      .seccionContacto .contacto form button:hover {
        transform: rotate(10deg);
        cursor: pointer; }
  .seccionContacto .newletter {
    padding: 25px 50px 10px;
    color: #ffffff; }
    .seccionContacto .newletter h1 {
      font-family: "Rakkas", cursive;
      font-size: 3rem; }
    .seccionContacto .newletter p {
      font-size: 1rem; }
    .seccionContacto .newletter form label {
      margin-bottom: 2px;
      font-size: 0.8rem; }
    .seccionContacto .newletter form button {
      background: #1b1b5c;
      border: 1px solid transparent;
      float: right;
      margin-top: 15px;
      color: #ffffff;
      border-radius: 0;
      font-size: 1.3rem;
      padding: 5px 20px;
      border-radius: 5px;
      transition: 0.3s; }
      .seccionContacto .newletter form button:hover {
        transform: rotate(10deg);
        cursor: pointer; }

/* ------------------ */
/* -----END FAQS----- */
/* ------------------ */
/* -------------- */
/* ----FOOTER---- */
/* -------------- */
footer {
  background-color: #1b1b5c;
  color: #ffffff;
  padding: 30px 0px; }
  footer ul {
    padding-left: 0px; }
    footer ul li {
      list-style: none;
      font-size: 1rem; }
  footer .iconos {
    display: flex;
    flex-direction: column;
    justify-content: end; }
    footer .iconos p {
      text-align: end;
      margin-bottom: 0px;
      font-size: 1rem; }
    footer .iconos ul {
      display: flex;
      gap: 12px;
      padding: 0%; }
  footer .derechos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    footer .derechos img {
      width: 15%; }
    footer .derechos button {
      font-size: 1rem;
      color: #ffffff;
      background-color: #33a79d;
      padding: 5px 40px;
      border-radius: 5px;
      border: 1px solid transparent; }
      footer .derechos button:hover {
        color: #33a79d;
        background-color: #ffffff;
        border: 1px solid #33a79d; }

@media (min-width: 577px) and (max-width: 820px) {
  /*Navbar*/
  .header .navbar img {
    margin-right: 400px; }
  /*Iconos*/
  .listaIconos {
    position: absolute;
    top: 25%;
    left: -6%;
    display: block; }
  /* --------------- */
  /* -----INDEX----- */
  /* --------------- */
  /* Primera Seccion */
  .intro {
    height: 58vh;
    background-color: #1279ef;
    margin-top: -10px;
    margin-bottom: 0px; }
    .intro img {
      margin-top: 25%;
      margin-bottom: 0px; }
    .intro .hastag {
      margin-top: 10%;
      margin-bottom: 0px; }
  .lineup .carrusel {
    margin: 30px 0px; }
    .lineup .carrusel .carousel-inner .carousel-item {
      height: 400px; }
      .lineup .carrusel .carousel-inner .carousel-item h3 {
        font-size: 2rem;
        margin-top: 0px;
        margin-bottom: 30px; }
      .lineup .carrusel .carousel-inner .carousel-item .textos img {
        margin-top: 30px;
        margin-bottom: 10px; }
  /* ---------------- */
  /* ----ARTISTAS---- */
  /* ---------------- */
  .bannerArtistas {
    height: 23vh;
    background-color: #444444;
    margin-top: -10px;
    display: flex;
    justify-content: center; }
    .bannerArtistas .titularArtistas {
      bottom: 20px;
      width: 50%;
      left: 25%;
      right: 25%; }
  .artistas {
    display: grid;
    grid-template-columns: repeat(3, 33%); }
  .cadaArtista {
    height: 25vh; }
  .selector div {
    margin-top: 5px;
    margin-bottom: 3px; }
  /*----------------*/
  /*--EXPERIENCIAS--*/
  /*----------------*/
  .bannerExperencia {
    height: 23vh;
    display: flex;
    justify-content: center; }
    .bannerExperencia .titularExperencia {
      bottom: 20px;
      width: 70%;
      left: 16%; }
  .experiencias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .experiencias .experiencia1 {
      height: auto;
      display: grid;
      grid-template-columns: 55% 45%;
      grid-template-areas: "imagen1 texto1";
      margin-top: 0px;
      margin-bottom: 30px;
      padding: 40px 0px; }
      .experiencias .experiencia1 .imagen1 {
        grid-area: imagen1; }
      .experiencias .experiencia1 .textos1 {
        grid-area: texto1;
        padding: 30px 25px; }
        .experiencias .experiencia1 .textos1 h1 {
          margin-top: 20px;
          margin-bottom: 20px;
          font-size: 2rem;
          font-weight: bold;
          color: #1279ef;
          padding: 0 30px; }
        .experiencias .experiencia1 .textos1 p {
          margin-left: 10px;
          margin-bottom: 20px;
          font-size: 1rem;
          line-height: 1.3rem;
          color: #444444;
          padding: 0 30px; }
        .experiencias .experiencia1 .textos1 a {
          margin-left: 10px;
          margin-bottom: 20px;
          padding: 0 30px; }
          .experiencias .experiencia1 .textos1 a button {
            padding: 5px 20px;
            border: 1px solid transparent;
            background-color: #33a79d;
            color: #ffffff;
            border-radius: 5px; }
    .experiencias .experiencia2 {
      height: auto;
      display: grid;
      grid-template-columns: 45% 55%;
      grid-template-areas: "texto2 imagen2";
      margin-top: 0px;
      margin-bottom: 30px;
      padding: 40px 0px; }
      .experiencias .experiencia2 .imagen2 {
        grid-area: imagen2; }
      .experiencias .experiencia2 .textos2 {
        grid-area: texto2;
        padding: 30px 25px; }
        .experiencias .experiencia2 .textos2 h1 {
          margin-top: 20px;
          margin-bottom: 20px;
          font-size: 2rem;
          font-weight: bold;
          color: #1279ef;
          padding: 0 30px; }
        .experiencias .experiencia2 .textos2 p {
          margin-left: 10px;
          margin-bottom: 20px;
          font-size: 1rem;
          line-height: 1.3rem;
          color: #444444;
          padding: 0 30px; }
        .experiencias .experiencia2 .textos2 a {
          margin-left: 10px;
          margin-bottom: 20px;
          padding: 0 30px; }
          .experiencias .experiencia2 .textos2 a button {
            padding: 5px 20px;
            border: 1px solid transparent;
            background-color: #33a79d;
            color: #ffffff;
            border-radius: 5px; }
    .experiencias .experiencia3 {
      height: auto;
      display: grid;
      grid-template-columns: 55% 45%;
      grid-template-areas: "imagen3 texto3";
      margin-top: 0px;
      margin-bottom: 30px;
      padding: 40px 0px; }
      .experiencias .experiencia3 .imagen3 {
        grid-area: imagen3; }
      .experiencias .experiencia3 .textos3 {
        grid-area: texto3;
        padding: 30px 25px; }
        .experiencias .experiencia3 .textos3 h1 {
          margin-top: 20px;
          margin-bottom: 20px;
          font-size: 2rem;
          font-weight: bold;
          color: #1279ef;
          padding: 0 30px; }
        .experiencias .experiencia3 .textos3 p {
          margin-left: 10px;
          margin-bottom: 20px;
          font-size: 1rem;
          line-height: 1.3rem;
          color: #444444;
          padding: 0 30px; }
        .experiencias .experiencia3 .textos3 a {
          margin-left: 10px;
          margin-bottom: 20px;
          padding: 0 30px; }
          .experiencias .experiencia3 .textos3 a button {
            padding: 5px 20px;
            border: 1px solid transparent;
            background-color: #33a79d;
            color: #ffffff;
            border-radius: 5px; }
  /* ---------------- */
  /* ----ENTRADAS---- */
  /* ---------------- */
  .entradas .entradasPrecios {
    flex-direction: row; }
    .entradas .entradasPrecios .entradasTicket {
      margin: 30px 30px 30px 10px; }
      .entradas .entradasPrecios .entradasTicket h2 {
        margin-top: 15px;
        font-size: 2rem; }
      .entradas .entradasPrecios .entradasTicket .boleta .etapa {
        width: 30%;
        text-align: center;
        font-size: 1.2rem; }
      .entradas .entradasPrecios .entradasTicket .boleta .precio {
        width: 70%;
        font-size: 1rem; }
      .entradas .entradasPrecios .entradasTicket .boleta .agotado {
        width: 70%;
        font-size: 1.2rem; }
      .entradas .entradasPrecios .entradasTicket .contenedorCodigo {
        margin-top: 0px;
        margin-bottom: 20px; }
  .entradas .corteBoletas {
    display: none; }
  /* ----------------- */
  /* ------FAQ'S------ */
  /* ----------------- */
  .introFaqs img {
    margin-top: 20%;
    margin-bottom: 20px; }
  .seccionPreguntas {
    background-color: #ffffff;
    margin-top: 30px;
    margin-bottom: 30px; }
    .seccionPreguntas .preguntas {
      margin: 20px 0px; }
      .seccionPreguntas .preguntas .accordion-item {
        margin: 20px 0px; }
        .seccionPreguntas .preguntas .accordion-item h2 button {
          font-size: 1.3rem;
          font-weight: bold; }
  .seccionContacto-celular {
    padding-top: 50px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 50px; }
    .seccionContacto-celular .contactoCelular {
      padding-top: 45px;
      padding-left: 50px;
      padding-right: 50px;
      background: url("../images/background-contacto-celular.svg");
      background-size: cover; }
      .seccionContacto-celular .contactoCelular h1 {
        font-family: "Rakkas", cursive;
        font-size: 3rem;
        color: #1b1b5c; }
      .seccionContacto-celular .contactoCelular p {
        font-size: 1rem;
        color: #1b1b5c; }
      .seccionContacto-celular .contactoCelular form label {
        margin-bottom: 2px;
        font-size: 0.8rem;
        color: #1b1b5c; }
      .seccionContacto-celular .contactoCelular form button {
        background: #33a79d;
        border: 1px solid transparent;
        color: #ffffff;
        border-radius: 0;
        font-size: 1.3rem;
        padding: 5px 30px;
        border-radius: 5px;
        margin-top: 35px;
        margin-bottom: 35px;
        float: right; }
    .seccionContacto-celular .newletterCelular {
      background-color: #1279ef;
      padding: 45px 50px 10px; }
      .seccionContacto-celular .newletterCelular h1 {
        font-family: "Rakkas", cursive;
        font-size: 3rem;
        color: #ffffff; }
      .seccionContacto-celular .newletterCelular p {
        font-size: 1rem;
        color: #ffffff; }
      .seccionContacto-celular .newletterCelular form label {
        margin-bottom: 5px;
        font-size: 0.8rem;
        color: #ffffff; }
      .seccionContacto-celular .newletterCelular form button {
        background: #1b1b5c;
        border: 1px solid transparent;
        float: right;
        color: #ffffff;
        border-radius: 0;
        font-size: 1.3rem;
        padding: 5px 20px;
        border-radius: 5px;
        margin-top: 35px;
        margin-bottom: 35px; }
  /* ---------------- */
  /* -----FOOTER----- */
  /* ---------------- */
  footer .iconos ul {
    display: flex;
    gap: 10px;
    padding: 0%; }
  footer .derechos {
    padding: 0px 30px; } }

@media (max-width: 576px) {
  /*Navbar*/
  .header .navbar img {
    margin-right: 100px; }
  .listaIconos {
    display: none; }
  /*---------------*/
  /*-----INDEX-----*/
  /*---------------*/
  .intro {
    height: 65vh; }
    .intro img {
      margin-top: 35%; }
    .intro h2 {
      margin-top: 3%;
      font-size: 1.5rem;
      line-height: 2rem; }
    .intro .hastag {
      font-size: 1.3rem;
      margin-top: 60px; }
  .lineup .carrusel {
    margin: 30px 0px; }
    .lineup .carrusel .carousel-inner .carousel-item {
      height: 275px; }
      .lineup .carrusel .carousel-inner .carousel-item h3 {
        font-size: 1.5rem;
        margin-top: 0px;
        margin-bottom: 20px; }
      .lineup .carrusel .carousel-inner .carousel-item .textos img {
        margin-top: 30px;
        margin-bottom: 10px; }
  /*----------------*/
  /*----ARTISTAS----*/
  /*----------------*/
  .bannerArtistas {
    height: 30vh; }
    .bannerArtistas .titularArtistas {
      left: 16%; }
  .artistas {
    display: grid;
    grid-template-columns: repeat(2, 50%); }
  .cadaArtista {
    height: 25vh; }
    .cadaArtista div h3 {
      font-size: 1.1rem; }
    .cadaArtista div P {
      font-size: 0.8rem; }
  /*----------------*/
  /*--EXPERIENCIAS--*/
  /*----------------*/
  .bannerExperencia {
    height: 30vh; }
    .bannerExperencia .titularExperencia {
      left: 8%; }
  .experiencias {
    margin: 0px 0px;
    flex-direction: column; }
    .experiencias .experiencia1 {
      height: auto;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 50%;
      grid-template-areas: "texto1"  "imagen1";
      margin-top: 0px;
      margin-bottom: 10px;
      padding: 0px 0px; }
      .experiencias .experiencia1 .imagen1 {
        margin: 0px; }
      .experiencias .experiencia1 .textos1 {
        grid-area: texto1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px;
        padding: 10px 0px; }
        .experiencias .experiencia1 .textos1 h1 {
          margin-top: 0px;
          margin-bottom: 20px;
          font-size: 2rem;
          font-weight: bold;
          color: #1279ef;
          padding: 0 20px; }
        .experiencias .experiencia1 .textos1 p {
          margin-bottom: 30px;
          font-size: 1rem;
          line-height: 1.3rem;
          color: #444444;
          padding: 0 20px;
          text-align: center; }
        .experiencias .experiencia1 .textos1 a {
          margin-left: 0px;
          margin-bottom: 0px;
          padding: 0 30px; }
          .experiencias .experiencia1 .textos1 a button {
            padding: 5px 20px;
            border: 1px solid transparent;
            background-color: #33a79d;
            color: #ffffff;
            border-radius: 5px; }
    .experiencias .experiencia2 {
      height: auto;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 50%;
      grid-template-areas: "texto2" "imagen2";
      margin-top: 0px;
      margin-bottom: 10px;
      padding: 0px 0px; }
      .experiencias .experiencia2 .imagen2 {
        margin: 0px; }
      .experiencias .experiencia2 .textos2 {
        grid-area: texto2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px;
        padding: 10px 0px; }
        .experiencias .experiencia2 .textos2 h1 {
          margin-top: 0px;
          margin-bottom: 20px;
          font-size: 2rem;
          font-weight: bold;
          color: #1279ef;
          padding: 0 20px; }
        .experiencias .experiencia2 .textos2 p {
          margin-bottom: 30px;
          font-size: 1rem;
          line-height: 1.3rem;
          color: #444444;
          padding: 0 20px;
          text-align: center; }
        .experiencias .experiencia2 .textos2 a {
          margin-left: 0px;
          margin-bottom: 0px;
          padding: 0 30px; }
          .experiencias .experiencia2 .textos2 a button {
            padding: 5px 20px;
            border: 1px solid transparent;
            background-color: #33a79d;
            color: #ffffff;
            border-radius: 5px; }
    .experiencias .experiencia3 {
      height: auto;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 50%;
      grid-template-areas: "texto3" "imagen3";
      margin-top: 0px;
      margin-bottom: 10px;
      padding: 0px 0px; }
      .experiencias .experiencia3 .imagen3 {
        margin: 0px; }
      .experiencias .experiencia3 .textos3 {
        grid-area: texto3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px;
        padding: 10px 0px; }
        .experiencias .experiencia3 .textos3 h1 {
          margin-top: 0px;
          margin-bottom: 20px;
          font-size: 2rem;
          font-weight: bold;
          color: #1279ef;
          padding: 0 20px; }
        .experiencias .experiencia3 .textos3 p {
          margin-bottom: 30px;
          font-size: 1rem;
          line-height: 1.3rem;
          color: #444444;
          padding: 0 20px;
          text-align: center; }
        .experiencias .experiencia3 .textos3 a {
          margin-left: 0px;
          margin-bottom: 0px;
          padding: 0 30px; }
          .experiencias .experiencia3 .textos3 a button {
            padding: 5px 20px;
            border: 1px solid transparent;
            background-color: #33a79d;
            color: #ffffff;
            border-radius: 5px; }
  /*----------------*/
  /*----ENTRADAS----*/
  /*----------------*/
  .introEntradas img {
    margin-top: 65%;
    margin-bottom: 10px; }
  .entradas .entradasPrecios {
    flex-direction: column; }
    .entradas .entradasPrecios .entradasTicket {
      margin-top: 20px;
      margin-bottom: 30px; }
      .entradas .entradasPrecios .entradasTicket .boleta .etapa {
        width: 40%;
        text-align: center;
        font-size: 1.2rem; }
      .entradas .entradasPrecios .entradasTicket .boleta .precio {
        width: 60%;
        font-size: 1rem; }
      .entradas .entradasPrecios .entradasTicket .boleta .agotado {
        width: 60%;
        font-size: 1.2rem; }
  .entradas .corteBoletas {
    display: none; }
  /*---------------*/
  /*-----FAQ'S-----*/
  /*---------------*/
  .introFaqs img {
    margin-top: 30%;
    margin-bottom: 20px; }
  .seccionPreguntas {
    margin-top: 0px;
    margin-bottom: 10px; }
    .seccionPreguntas .preguntas {
      margin-top: 0px;
      margin-bottom: 0px; }
      .seccionPreguntas .preguntas .accordion-item {
        margin: 10px 0px; }
        .seccionPreguntas .preguntas .accordion-item h2 button {
          font-size: 1.2rem;
          font-weight: bold; }
  .seccionContacto-celular {
    margin-bottom: 0px; }
    .seccionContacto-celular .contactoCelular {
      padding-top: 45px;
      background: url("../images/background-contacto-celular.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      padding: 30px 50px 10px; }
      .seccionContacto-celular .contactoCelular h1 {
        font-size: 3rem;
        text-align: center;
        font-family: "Rakkas", cursive;
        color: #1b1b5c; }
      .seccionContacto-celular .contactoCelular p {
        line-height: 1.3rem;
        text-align: center;
        color: #1b1b5c; }
      .seccionContacto-celular .contactoCelular form {
        margin-bottom: 2px;
        font-size: 0.8rem;
        color: #1b1b5c; }
        .seccionContacto-celular .contactoCelular form button {
          background: #33a79d;
          border: 1px solid transparent;
          color: #ffffff;
          border-radius: 0;
          font-size: 1.3rem;
          padding: 5px 30px;
          border-radius: 5px;
          margin-top: 15px;
          margin-bottom: 50px;
          float: right; }
    .seccionContacto-celular .newletterCelular {
      background-color: #1279ef;
      padding: 30px 50px 10px;
      margin-top: -23px;
      margin-bottom: 0px; }
      .seccionContacto-celular .newletterCelular h1 {
        font-size: 3rem;
        text-align: center;
        font-family: "Rakkas", cursive;
        color: #ffffff; }
      .seccionContacto-celular .newletterCelular p {
        line-height: 1.3rem;
        text-align: center;
        color: #ffffff; }
      .seccionContacto-celular .newletterCelular form {
        margin-bottom: 5px;
        font-size: 0.8rem;
        color: #ffffff; }
        .seccionContacto-celular .newletterCelular form button {
          margin-top: 15px;
          border-radius: 5px;
          font-size: 1.3rem;
          padding: 5px 20px;
          background: #1b1b5c;
          border: 1px solid transparent;
          float: right;
          color: #ffffff; }
  /*--------------*/
  /*----FOOTER----*/
  /*--------------*/
  footer ul li {
    font-size: 0.8rem; }
  footer .iconos {
    justify-content: start;
    margin-top: 10px; }
    footer .iconos ul {
      display: flex;
      justify-content: space-between;
      padding: 0%; }
      footer .iconos ul li img {
        width: 45%; }
    footer .iconos p {
      text-align: start;
      margin-bottom: 0px;
      font-size: 0.8rem;
      margin-bottom: 10px; }
  footer .derechos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px; }
    footer .derechos img {
      width: 35%; } }
