//Variables
@import "utilities/listas";
$Tipografia-festival: 'Rakkas', cursive;

/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: nth($colores,3);
}

/* Navbar */
.header{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
    display: flex;
    justify-content: center;
    .navbar{
        border-radius: 5px;
        background-color: nth($colores,1);
        border: 1px solid transparent;
        box-shadow: 0 1px 4px 0 rgba(0,0,0,.32);
        position: fixed;
        z-index: 1000;
        img{
            margin-right: 250px;
        }
        .nav-link{
            transition: 0.3s;
            &:hover{
                color: nth($colores,4);
                text-decoration: underline; 
            }
        }
    }
}

/* Lista de Iconos */

.listaIconos{
    position: absolute;
    top: 45%;
    left: -3%;
    display: block;
    ul{
        li{
            list-style: none;
            margin-bottom: 15px;
            transition: 0.3s;
            &:hover{
                transform: scale(1.5,1.5);
                cursor: pointer;
            }
            img{
                width: 20%;
            }
        }
    }
}

//CSS
@import "utilities/index";
@import "utilities/artistas";
@import "utilities/entradas";
@import "utilities/experiencias";
@import "utilities/faqs";
@import "utilities/footer";

//Media Queries
@import "utilities/mq-tablet";
@import "utilities/mq-celular";
