/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

//Variables
@import "utilities/variables";
//Listas
@import "utilities/listas";
//Mixin
@import "utilities/mixin";
//Extend
@import "utilities/_extend";

body{
    background-color: nth($colores,7);
}

//CSS
@import "utilities/navbar";
@import "utilities/index";
@import "utilities/artistas";
@import "utilities/entradas";
@import "utilities/experiencias";
@import "utilities/faqs";
@import "utilities/footer";

//Media Queries
@import "utilities/mq-tablet";
@import "utilities/mq-celular";
