/* ---------------- */
/* ----ARTISTAS---- */
/* ---------------- */

.bannerArtistas{
    height: 40vh;
    background-image: url("../images/background.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -10px;
    position: relative;
    .titularArtistas{
        position: absolute;
        bottom: 20px;
        left: 50px;
    }
}

.selector{
    background-color: nth($colores,5);
    color: nth($colores,1);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.artistas{
    display: grid;
    grid-template-columns: repeat(4,25%);
}

.cadaArtista{
    width: $Medida-maxima;
    height: 342px;
    position: relative;
    div{
        background-color: #000000ca;
        position: absolute;
        bottom: 0;
        width: $Medida-maxima - 20;
        border-radius: 0px 30px 0px 0px;
        &:hover{
            height: 100px;
            cursor: pointer;
        }
        h3{
            color: nth($colores,1);
            margin: 0px 20px;
            margin-top: 20px;
            font-size: 1.3rem;
            font-weight: bold;
        }
        p{
            color: nth($colores,1);
            margin: 0px 20px;
            margin-bottom: 20px;
            font-size: 0.8rem;
        }
    }
}

/* Artistas */
.slipknot{
    background-image: url("../images/Slipknot.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.royalBlood{
    background-image: url("../images/Royal-blood.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.theWeeknd{
    background-image: url("../images/The-weeknd.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.daftPunk{
    background-image: url("../images/Daft-punk.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.mileyCirus{
    background-image: url("../images/Miley-cirus.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cuartetoNos{
    background-image: url("../images/El-cuarteto-de-nos.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.joji{
    background-image: url("../images/Joji.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.twentyOnePilots{
    background-image: url("../images/Twenty-one-pilots.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.tini{
    background-image: url("../images/Tini.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.turnstile{
    background-image: url("../images/Turnstile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ninaKravitz{
    background-image: url("../images/Nina-kravitz.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ohLaville{
    background-image: url("../images/Oh-laville.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.kendrickLamar{
    background-image: url("../images/Kendrick-lammar.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.molotov{
    background-image: url("../images/Molotov.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.metronomy{
    background-image: url("../images/Metronomy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.nickiNicole{
    background-image: url("../images/Nicki-nicole.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.tameImpala{
    background-image: url("../images/Tame-impala.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.meduza{
    background-image: url("../images/Meduza.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.grupoNiche{
    background-image: url("../images/Grupo-niche.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.roleModel{
    background-image: url("../images/Role-model.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.rammstein{
    background-image: url("../images/Rammstein.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.feid{
    background-image: url("../images/Feid.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.megadeth{
    background-image: url("../images/Megadeth.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.maneskin{
    background-image: url("../images/Maneskin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* End Artistas */

/* ----------------- */
/*    END ARTISTAS   */
/* ----------------- */