/* -------------- */
/* ----FOOTER---- */
/* -------------- */

footer{
    background-color: nth($colores,5);
    color: nth($colores,1);
    padding:30px 0px;
    ul{
        padding-left: 0px;
        li{
            list-style: none;
            font-size: 1rem;
        }
    }
    .iconos{
        display: flex;
        flex-direction: column;
        justify-content: end;
        p{
            text-align: end;
            margin-bottom: 0px;
            font-size: 1rem;
        }
        ul{
            display: flex;
            gap: 12px;
            padding: 0%;
        }
    }
    .derechos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        img{
            width: 15%;
        }
        button{
            font-size: 1rem;
            color: nth($colores,1);
            background-color: nth($colores,6);
            padding: 5px 40px;
            border-radius: 5px;
            border: 1px solid transparent;
            &:hover{
                color: nth($colores,6);
                background-color: nth($colores,1);
                border: 1px solid nth($colores,6);
            }
        }
    }
}