/* Lista de Iconos */

.listaIconos{
    position: absolute;
    top: 45%;
    left: -3%;
    display: block;
    ul{
        li{
            list-style: none;
            margin-bottom: 15px;
            transition: 0.3s;
            &:hover{
                transform: scale(1.5,1.5);
                cursor: pointer;
            }
            img{
                width: 20%;
                filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5));
            }
        }
    }
}


/*---------------*/
/*---- INDEX ----*/
/*---------------*/

/* Primera Seccion */
.intro{
    height: 130vh;
    background-image: url("../../images/background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -10px;
    img{
        margin-top: 15%;
    }
    h2{
        margin-top: 3%;
        font-size: 3rem;
        line-height: 3.2rem;
        font-family: $Tipografia-festival;
        color: nth($colores,1);
    }
    button{
        color: nth($colores,1);
        background-color: nth($colores,6);
        padding: 10px 30px;
        border-radius: 10px;
        border: 1px solid transparent;
        margin: 30px 0px;
        animation-name: mover;
        animation-duration: 2.5s;
        animation-iteration-count: infinite;
        transition: 0.3s;
        box-shadow: 0px 2px 5px rgba(119, 119, 119, 0.5);
        &:hover{
            color: nth($colores,6);
            background-color: nth($colores,1);
            border: 1px solid nth($colores,6); 
        }
        @keyframes mover{
            0%{
                transform: translateY(0);
            }
        
            50%{
                transform: translateY(10px);
            }
        
            100%{
                transform: translateY(0);
            }
        }
    }
    .hastag{
        color: nth($colores,2);
        font-size: 3rem;
        font-family: $Tipografia-festival;
        margin-top: 12%;
    }
}

/* Segunda Seccion */

.lineup{
    @include margenY(30px, 30px);
    position:relative;
    h1{
        margin: 30px 20px;
        color: nth($colores,5);
        font-size: 3.5rem;
        font-family: $Tipografia-festival;
    }
    .carrusel{
        margin: 30px 0px;
        .carousel-inner{
            .carousel-item{
                background-image: url("../../images/background.svg");
                background-repeat: no-repeat;
                background-size:cover;
                height: 550px;
                padding: 10px 50px;
                border-radius: 30px;
                h3{
                    font-size: 2.5rem;
                    font-family: $Tipografia-festival;
                    text-align: center;
                    @include margenY(0px, 50px);
                }
                .textos{
                    img{
                        @include margenY(30px, 10px);
                    }
                }
            }
        }
    }
}

/* ----------------- */
/* ----END INDEX---- */
/* ----------------- */