@media (max-width: 576px) {
    /*Navbar*/
    .header{ 
        .navbar{ 
            img{
                margin-right: 100px;
            }
        }
    }

    .listaIconos{
        display: none;
    }

    /*---------------*/
    /*-----INDEX-----*/
    /*---------------*/

    .intro{
        height: 65vh;
        img{
            margin-top: 35%;
        }
        h2{
            margin-top: 3%;
            font-size: 1.5rem;
            line-height: 2rem;
        }
        .hastag{
            font-size: 1.3rem;
            margin-top: 60px;
        }
    }

    .lineup{
        .carrusel{
            margin: 30px 0px;
            .carousel-inner{
                .carousel-item{
                    height: 275px;
                    h3{
                        font-size: 1.5rem;
                        @include margenY(0px, 20px);
                    }
                    .textos{
                        img{
                            @include margenY(30px, 10px);
                        }
                    }
                }
            }
        }
    }

    /*----------------*/
    /*----ARTISTAS----*/
    /*----------------*/

    .bannerArtistas{
        height: 30vh;
        .titularArtistas{
            left: 16%;
        }
    }

    .artistas{
        display: grid;
        grid-template-columns: repeat(2,50%);
    }

    .cadaArtista{
        height: 25vh;
        div{
            h3{
                font-size: 1.1rem;
            }
            P{
                font-size: 0.8rem;
            }
        }
    }

    /*----------------*/
    /*--EXPERIENCIAS--*/
    /*----------------*/
    .bannerExperencia{
        height: 30vh;
        .titularExperencia{
            left: 8%;
        }
    }
    .experiencias{
        margin: 0px 0px;
        flex-direction: column;
        .experiencia1{
            height: auto;
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: 50%;
            grid-template-areas:
            "texto1" 
            "imagen1";
            @include margenY(0px, 10px);
            padding: 0px 0px;
            .imagen1{
                margin: 0px;
            }
            .textos1{
                grid-area: texto1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 0px;
                padding: 10px 0px;
                h1{
                    margin-top: 0px;
                    margin-bottom: 20px;
                    font-size: 2rem;
                    font-weight: bold;
                    color: nth($colores,4);
                    padding: 0 20px;
                }
                p{
                    margin-bottom: 30px;
                    font-size: 1rem;
                    line-height: 1.3rem;
                    color: nth($colores,2);
                    padding: 0 20px;
                    text-align: center;
                }
                a{
                    margin-left: 0px;
                    margin-bottom: 0px;
                    padding: 0 30px;
                    button{
                        @include botonesExperienciasCel;
                    }
                }
            }
        }
        .experiencia2{
            height: auto;
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: 50%;
            grid-template-areas:
            "texto2"
            "imagen2";
            @include margenY(0px, 10px);
            padding: 0px 0px;
            .imagen2{
                margin: 0px;
            }
            .textos2{
                grid-area: texto2;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin:0px;
                padding: 10px 0px;
                h1{
                    margin-top: 0px;
                    margin-bottom: 20px;
                    font-size: 2rem;
                    font-weight: bold;
                    color: nth($colores,4);
                    padding: 0 20px;
                }
                p{
                    margin-bottom: 30px;
                    font-size: 1rem;
                    line-height: 1.3rem;
                    color: nth($colores,2);
                    padding: 0 20px;
                    text-align: center;
                }
                a{
                    margin-left: 0px;
                    margin-bottom: 0px;
                    padding: 0 30px;
                    button{
                        @include botonesExperienciasCel;
                    }
                }
            }
        }
        .experiencia3{
            height: auto;
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: 50%;
            grid-template-areas:
            "texto3"
            "imagen3";
            @include margenY(0px, 10px);
            padding: 0px 0px;
            .imagen3{
                margin: 0px;
            }
            .textos3{
                grid-area: texto3;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin:0px;
                padding: 10px 0px;
                h1{
                    margin-top: 0px;
                    margin-bottom: 20px;
                    font-size: 2rem;
                    font-weight: bold;
                    color: nth($colores,4);
                    padding: 0 20px;
                }
                p{
                    margin-bottom: 30px;
                    font-size: 1rem;
                    line-height: 1.3rem;
                    color: nth($colores,2);
                    padding: 0 20px;
                    text-align: center;
                }
                a{
                    margin-left: 0px;
                    margin-bottom: 0px;
                    padding: 0 30px;
                    button{
                        @include botonesExperienciasCel;
                    }
                }
            }
        }
    }
    

    /*----------------*/
    /*----ENTRADAS----*/
    /*----------------*/

    .introEntradas{
        img{
            @include margenY (65%,10px);
        }
    }

    .entradas{
        .entradasPrecios{
            flex-direction: column;            
            .entradasTicket{
                @include margenY (20px,30px);
                .boleta{
                    .etapa{
                        width: 40%;
                        text-align: center;
                        font-size: 1.2rem;
                    }
                    .precio{
                        width: 60%;
                        font-size: 1rem;
                    }
                    .agotado{
                        width: 60%;
                        font-size: 1.2rem;
                    }                    
                }          
            }
        }
        .corteBoletas{
            display: none;
        }
    }

    /*---------------*/
    /*-----FAQ'S-----*/
    /*---------------*/

    .introFaqs {
        img{
            @include margenY (30%,20px);
        }
    }

    .seccionPreguntas{
        @include margenY (0px,10px);
        .preguntas{
            @include margenY (0px,0px);
            .accordion-item{
                margin: 10px 0px;
                h2{
                    button{
                        font-size: 1.2rem;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .seccionContacto-celular{
        margin-bottom: 0px;
        .contactoCelular{
            padding-top: 45px;
            background: url("../images/background-contacto-celular.svg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            padding: 30px 50px 10px;
            h1{
                font-size: 3rem;
                text-align: center;
                font-family: $Tipografia-festival;
                color: nth($colores,5);
            }
            p{
                line-height: 1.3rem;
                text-align: center;
                color: nth($colores,5);
            } 
            form{
                margin-bottom: 2px;
                font-size: 0.8rem;
                color: nth($colores,5);
                button{
                    background: nth($colores,6);
                    border: 1px solid transparent;
                    color: nth($colores,1);
                    border-radius: 0;
                    font-size: 1.3rem;
                    padding: 5px 30px;
                    border-radius: 5px;
                    @include margenY (15px, 50px);
                    float: right;
                }
            }
        }
        .newletterCelular{
            background-color: nth($colores,4);
            padding: 30px 50px 10px;
            @include margenY (-23px,0px);
            h1{
                font-size: 3rem;
                text-align: center;
                font-family: $Tipografia-festival;
                color: nth($colores,1);
            }
            p{
                line-height: 1.3rem;
                text-align: center;
                color: nth($colores,1);
            }
            form{
                margin-bottom: 5px;
                font-size: 0.8rem;
                color: nth($colores,1);
                button{
                    margin-top: 15px;
                    border-radius: 5px;
                    font-size: 1.3rem;
                    padding: 5px 20px;
                    background: nth($colores,5);
                    border: 1px solid transparent;
                    float: right;
                    color: nth($colores,1);
                }
            }
        }
    }

    /*--------------*/
    /*----FOOTER----*/
    /*--------------*/

    footer{ 
        ul{
            li{
                font-size: 0.8rem;
            }
        }
        .iconos{ 
            justify-content: start;
            margin-top: 10px;
            ul{
                display: flex;        
                justify-content: space-between;
                padding: 0%;
                li{
                    img{
                        width: 45%; 
                    }
                }
            }
            p{
                text-align: start;
                margin-bottom: 0px;
                font-size: 0.8rem;
                margin-bottom: 10px;
            }
        }
        .derechos{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0px;
            img{
                width: 35%; 
            }
        }
    }
}