@media (min-width: 577px)and(max-width: 820px) {
    /*Navbar*/
    .header{ 
        .navbar{ 
            img{
                margin-right: 400px;
            }
        }
    }

    /*Iconos*/

    .listaIconos{
        position: absolute;
        top: 25%;
        left: -6%;
        display: block;
    }

    /* --------------- */
    /* -----INDEX----- */
    /* --------------- */

    /* Primera Seccion */
    .intro{
        height: 58vh;
        background-color: nth($colores,4);
        @include margenY (-10px,0px);
        img{
            @include margenY (25%,0px);
        }
        .hastag{
            @include margenY (10%,0px);
        }
    }

    /* ---------------- */
    /* ----ARTISTAS---- */
    /* ---------------- */
    .bannerArtistas{
        height: 23vh;
        background-color: nth($colores,2);
        margin-top: -10px;
        display: flex;
        justify-content: center;
        .titularArtistas{
            bottom: 20px;
            width: 50%;
            left: 25%;
            right: 25%;
        }
    }

    .artistas{
        display: grid;
        grid-template-columns: repeat(3,33%);
    }

    .cadaArtista{
        height: 25vh;
    }

    .selector{ 
        div{
            @include margenY (5px,3px);
        }
    }

    /*----------------*/
    /*--EXPERIENCIAS--*/
    /*----------------*/

    .bannerExperencia{
        height: 23vh;
        display: flex;
        justify-content: center;
        .titularExperencia{
            bottom: 20px;
            width: 70%;
            left: 16%;
        }
    }

    .experiencias{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .experiencia1{
            height: auto;
            display: grid;
            grid-template-columns: 55% 45%;
            grid-template-areas: 
            "imagen1 texto1";
            @include margenY(0px, 30px);
            padding: 40px 0px;
            .imagen1{
                grid-area: imagen1;
            }
            .textos1{
                grid-area: texto1;
                padding: 30px 25px;
                h1{
                    margin-top: 20px;
                    margin-bottom: 20px;
                    font-size: 2rem;
                    font-weight: bold;
                    color: nth($colores,4);
                    padding: 0 30px;
                }
                p{
                    margin-left: 10px;
                    margin-bottom: 20px;
                    font-size: 1rem;
                    line-height: 1.3rem;
                    color: nth($colores,2);
                    padding: 0 30px;
                }
                a{
                    margin-left: 10px;
                    margin-bottom: 20px;
                    padding: 0 30px;
                    button{
                        padding: 5px 20px;
                        border: 1px solid transparent;
                        background-color:nth($colores,6);
                        color: nth($colores,1);
                        border-radius: 5px;
                    }
                }
            }
        }
        .experiencia2{
            height: auto;
            display: grid;
            grid-template-columns: 45% 55%;
            grid-template-areas: 
            "texto2 imagen2";
            @include margenY(0px, 30px);
            padding: 40px 0px;
            .imagen2{
                grid-area: imagen2;
                
            }
            .textos2{
                grid-area: texto2;
                padding: 30px 25px;
                h1{
                    margin-top: 20px;
                    margin-bottom: 20px;
                    font-size: 2rem;
                    font-weight: bold;
                    color: nth($colores,4);
                    padding: 0 30px;
                }
                p{
                    margin-left: 10px;
                    margin-bottom: 20px;
                    font-size: 1rem;
                    line-height: 1.3rem;
                    color: nth($colores,2);
                    padding: 0 30px;
                }
                a{
                    margin-left: 10px;
                    margin-bottom: 20px;
                    padding: 0 30px;
                    button{
                        padding: 5px 20px;
                        border: 1px solid transparent;
                        background-color:nth($colores,6);
                        color: nth($colores,1);
                        border-radius: 5px;
                    }
                }
            }
        }
        .experiencia3{
            height: auto;
            display: grid;
            grid-template-columns: 55% 45%;
            grid-template-areas: 
            "imagen3 texto3";
            @include margenY(0px, 30px);
            padding: 40px 0px;
            .imagen3{
                grid-area: imagen3;
            }
            .textos3{
                grid-area: texto3;
                padding: 30px 25px;
                h1{
                    margin-top: 20px;
                    margin-bottom: 20px;
                    font-size: 2rem;
                    font-weight: bold;
                    color: nth($colores,4);
                    padding: 0 30px;
                }
                p{
                    margin-left: 10px;
                    margin-bottom: 20px;
                    font-size: 1rem;
                    line-height: 1.3rem;
                    color: nth($colores,2);
                    padding: 0 30px;
                }
                a{
                    margin-left: 10px;
                    margin-bottom: 20px;
                    padding: 0 30px;
                    button{
                        padding: 5px 20px;
                        border: 1px solid transparent;
                        background-color:nth($colores,6);
                        color: nth($colores,1);
                        border-radius: 5px;
                    }
                }
            }
        }
    }

    /* ---------------- */
    /* ----ENTRADAS---- */
    /* ---------------- */

    .entradas{
        .entradasPrecios{
            flex-direction: row;            
            .entradasTicket{
                margin: 30px 30px 30px 10px;
                h2{
                    margin-top: 15px;
                    font-size: 2rem;
                }
                .boleta{
                    .etapa{
                        width: $Medida-maxima - 70;
                        text-align: center;
                        font-size: 1.2rem;
                    }
                    .precio{
                        width: $Medida-maxima - 30;
                        font-size: 1rem;
                    }
                    .agotado{
                        width: $Medida-maxima - 30;
                        font-size: 1.2rem;
                    }                    
                }
                .contenedorCodigo{
                    @include margenY (0px, 20px);
                }            
            }
        }
        .corteBoletas{
            display: none;
        }
    }

    /* ----------------- */
    /* ------FAQ'S------ */
    /* ----------------- */

    .introFaqs{
        img{
            @include margenY (20%, 20px);
        }
    }

    .seccionPreguntas{
        background-color: nth($colores,1);
        @include margenY (30px, 30px);
        .preguntas{
            margin: 20px 0px;
            .accordion-item{
                margin: 20px 0px;
                h2{
                    button{
                        font-size: 1.3rem;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .seccionContacto-celular{
        padding-top: 50px;
        width: $Medida-maxima;
        @include margenY (0px, 50px);
        .contactoCelular{
            padding-top: 45px;
            padding-left: 50px;
            padding-right: 50px;
            background: url("../images/background-contacto-celular.svg");
            background-size: cover; 
            h1{
                font-family: $Tipografia-festival;
                font-size: 3rem;
                color: nth($colores,5);
            }
            p{
                font-size: 1rem;
                color: nth($colores,5);
            } 
            form{
                label{
                    margin-bottom: 2px;
                    font-size: 0.8rem;
                    color: nth($colores,5);
                }
                button{
                    background: nth($colores,6);
                    border: 1px solid transparent;
                    color: nth($colores,1);
                    border-radius: 0;
                    font-size: 1.3rem;
                    padding: 5px 30px;
                    border-radius: 5px;
                    @include margenY (35px, 35px);
                    float: right;
                }
            }
        }
        .newletterCelular{
            background-color: nth($colores,4);
            padding: 45px 50px 10px;
            h1{
                font-family: $Tipografia-festival;
                font-size: 3rem;
                color: nth($colores,1);
            }
            p{
                font-size: 1rem;
                color: nth($colores,1);
            }
            form{
                label{
                    margin-bottom: 5px;
                    font-size: 0.8rem;
                    color: nth($colores,1);
                }
                button{
                    background: nth($colores,5);
                    border: 1px solid transparent;
                    float: right;
                    color: nth($colores,1);
                    border-radius: 0;
                    font-size: 1.3rem;
                    padding: 5px 20px;
                    border-radius: 5px;
                    @include margenY (35px, 35px);
                }
            }
        }
    }

    /* ---------------- */
    /* -----FOOTER----- */
    /* ---------------- */

    footer{ 
        .iconos{ 
            ul{
                display: flex;
                gap: 10px;
                padding: 0%;
            }
        }
        .derechos{
            padding:0px 30px;
        }
    }
}
